.calendar {
    display: grid;
    grid-template-columns: repeat(7, 4vh);
    grid-template-rows: repeat(6, 4vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.squareButton {
    width: 4vh;
    height: 4vh;
}

.squareButtonSmol {
    width: 3vh;
    height: 3vh;
}

.currentDay {
    border: 0.3vh solid var(--darker);
}
