.timeShift_button {
    padding: 0.5vh;
    border: 0.3vh solid var(--base);
    border-radius: 0.5vh;
}

.timeShift_button:hover,
.timeShift_button:focus {
    background-color: var(--base);
    color: var(--lighter);
}

.timeShift_button_inverted {
    border: 0.3vh solid var(--base);
    background-color: var(--base);
    color: var(--lighter);
}

.timeShift_button_inverted:hover,
.timeShift_button_inverted:focus {
    background-color: var(--lighter);
    color: var(--darker);
}

.disabledButton {
    border: none;
}

.disabledButton:hover,
.disabledButton:focus {
    background-color: var(--lighter);
    color: var(--darker);
}
