.mainPanel {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
    height: 93vh;
    padding: 1vh;
}

@media (max-width: 800px) {
    .mainPanel {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}
